@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
            
@media screen and (max-width: 850px) {
    #term-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1200px) {
    #term-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.term-container {
    width: 1308px;
    height: 100%;
    margin-left: 119px;
    margin-right: 119px;
    margin-bottom: 99px;
}

.term-container h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #50514F;
    margin-top: 0;
    margin-bottom: 15px;
}

.term-content {
    margin-bottom: 35px;
}

.term-content h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #50514F;
    margin-top: 0;
    margin-bottom: 4px;
}

.term-content p {
    max-width: 878px;
    word-wrap: break-word;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    text-transform: capitalize;
    color: #50514F;
    margin-top: 0;
    margin-bottom: 0;
}